@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/theme';

.app {
  min-height: 100vh;

  @include themify($themes) {
    color: themed('color');
    background-color: themed('backgroundColor');
  }
}
