@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/theme';

button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: $border-radius;
  font-family: $font-main;
  font-weight: $font-weight-bold;
  background-color: $color-white;
  cursor: pointer;
  transition: $transition;

  @include themify($themes) {
    color: themed('color');
    background-color: themed('backgroundColor');
  }

  &:hover {
    @include themify($themes) {
      box-shadow: themed('boxShadowHover');
    }
  }
}
