@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/theme';

.card {
  height: 100%;
  padding: 1.5rem;
  border-radius: $border-radius;
  transition: $transition;

  @include themify($themes) {
    box-shadow: themed('boxShadow');
  }

  &:hover {
    @include themify($themes) {
      box-shadow: themed('boxShadowHover');
    }
  }

  @include respond-tablet {
    padding: 2.5rem;
  }
}
