@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/theme';

.card {
  height: 100%;
  padding: 1.5rem;
  border-radius: $border-radius;
  box-shadow: $shadow;
  transition: all 0.3s;

  &:hover {
    box-shadow: $shadow-darker;
  }

  @include respond-tablet {
    padding: 2.5rem;
  }
}
