@mixin respond-tablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin respond-desktop {
  @media (min-width: 1100px) {
    @content;
  }
}

@mixin input {
  padding: 1rem;
  border: none;
  border-radius: $border-radius;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: $color-white;
  transition: $transition;

  @include themify($themes) {
    color: themed('color');
    background-color: themed('backgroundColor');
    box-shadow: themed('boxShadow');
  }

  &:focus {
    outline: none;

    @include themify($themes) {
      box-shadow: themed('boxShadowHover');
    }
  }

  &::-webkit-input-placeholder {
    color: $color-grey;
  }
}
