@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

// COLORS
$color-blue: hsl(200, 15%, 8%);
$color-darkgrey: hsl(0, 0%, 52%);
$color-grey: hsl(0, 0%, 80%);
$color-lightgrey: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// FONT
$font-main: 'Nunito Sans', sans-serif;

$font-size-default: 1.4rem;
$font-size-large: 1.6rem;

$font-weight-thin: 400;
$font-weight-default: 600;
$font-weight-bold: 800;
